.row *,
.row *:after,
.row *:before {
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}