.yellow-bg {
    padding: 15px;
    background-color: $mainYellow;
}

.grey-bg {
    padding: 15px;
    background-color: $mainGrey;
}

.full-width-btn {
    width: 100%
}

.third {
    width: 33%;
}

.transparent {
    background-color: transparent;
    &:hover {
        background-color: transparent;
    }
}

.no-border {
    border: 0px !important;
}

.m10top {
    margin-top: 10px;
}

.btn {
    border-radius: 50px;
}

input{
    border-radius: 50px;
}

.btn-yellow {
    background-color: $mainYellow;
    a {
        color: $mainBlueColor;
    }
    &:hover {
        background-color: $mainBlueColor;
        a {
            color: $mainYellow;
            text-decoration: none;
        }
    }
}


/*text*/

p,
a,
span,
ul,
ol,
li,
button,
input,
label {
    font-family: 'Open Sans Hebrew', serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    //    font-family: 'Open Sans Hebrew Bold', serif;
    font-family: 'Open Sans Hebrew Condensed', serif;
}

h5 {
    font-weight: bold;
}

.fa {
    margin-left: 10px;
}

.pointer {
    cursor: pointer;
}

button.send {
    font-size: 20px;
    width: 100%;
    background-color: $mainBlueColor;
    color: $mainYellow;
    &:hover,
    &:active {
        color: $mainBlueColor;
        background-color: $mainYellow
    }
}