ul#searchresults {
    background-color: #fff;
    max-width: 343px;
    position: absolute;
    overflow-x: hidden;
    max-height: 500px;
    z-index: 999;
    border: 1px solid goldenrod;
}