.yellow-bg {
    padding: 15px;
    background-color: $mainYellow;
}

.grey-bg {
    padding: 15px;
    background-color: $mainGrey;
}

.full-width-btn {
    width: 100%
}


.third{
    width: 33%;
}

.transparent{
    background-color: transparent;
    &:hover{
        background-color: transparent;
    }
}

.no-border{
    border: 0px;
}

.btn{
    border-radius: 0;
}