.footer {
    background-color: white;

    .right{
        border-left: 1px solid;
        margin: 10px 0;
    }
    .left{
        color: red;
    }

    #FooterNav{
        margin-top: 20px;

        a{
            color: black;
            font-size: 20px;
        }
    }
    

    button{
        background-color: #f2b500;
        color: black;
        border: none;
        padding: 10px 12px;
        font-weight: bold;
    }

    input{
        height: 40px;
    }

    div{
        padding-right: 0;
    }
}
