#frontpage{
    padding-right: 0;
    padding-left: 0;
    #secondline{
        background-color: $mainYellow;
    }
    #pricing-table{
        background-color: $mainBlueColor;
        height: 100%;
        padding: 1%;
    }

    #infoicons{
        padding-top: 2%;
        padding-bottom: 2%;
    }   
    

    #pricing-table{
        
        ul{
            display: flex;
            flex-direction: row;
            padding: 50px;
            justify-content: center;

            li{
                list-style: none;
            }

            .price-regular{
                background-color: #fff;
                // width: 200px;
                padding: 20px 40px;
                height: 450px;
                margin-top: 15px;
                border-top-right-radius: 35px;
            }

            .price-recomended{
                background-color: $mainYellow;
                padding: 80px 45px;
                margin: 0 20px;
                height: 500px;

                button{
                    background-color: $mainGray;
                    font-weight: bold;

                    a{
                        color: black;
                    }
                }
            }

            li>div{
                margin-top: 5px;
            }

            .recomended-container{
                margin-top: -20px;
            }

            .recomended-badge{
                position: relative;
                background: white;
                height: 30px;
                line-height: 30px;
                bottom: 50px;
                right: 45px;
                margin: 0 !important;
            }
        }

        .large{
            font-size: 20px;
        }
    }
}