html,
body {
    height: 100%;
}

.page-wrap {
    min-height: 81vh;
    margin-bottom: -250px;
    margin-top: 0px;
}

.page-wrap:after {
    content: "";
    display: block;
}

.bold {
    font-weight: bolder !important;
}

.white {
    color: #fff !important;
}

.blue {
    color: $mainBlueColor;
}

.black {
    color: $black !important;
}

.pull-bottom {
    position: absolute !important;
    bottom: 0 !important;
}

.recordQuery.en * {
    direction: ltr;
}

.flex {
    display: flex;
}

.pad-0 {
    padding: 0px;
}