#TopNav{
    .nav{
        li{
           
            
            transition: 0.3s; 
            border-radius: 50px;   
        }


        a:active{
            background-color: $mainYellow;
            border-radius: 50px;   
            transition: 0.3s;                                                                   
        }

        a:hover{
            background-color: $mainYellow;
            border-radius: 50px;   
            transition: 0.3s;                                                                   
        }
    }
}