.subscripsion-icon{
    width: 100%;
    // text-align: center;
    // animation: sephiaIn 0.3s;
    // animation-fill-mode: forwards;
    // &:hover{
    //     animation: sephiaOut .3s;
    //     animation-fill-mode: forwards;
    // }
    // &:active{
    //     -webkit-filter: opacity(100%);
    //     -moz-filter: opacity(100%);
    //     filter: opacity(100%);
    // }
}


button#toggleBtn {
    position: absolute;
    left: 0;
    top: 19px;
    border: 0;
    background-color: transparent;
    color: #204260;
    padding: 0;
}
