#slider{
    padding: 0;
    margin-bottom: 30px;
    background-image: url('./components/img/header-pic.jpg');
    #slider-btn{
        top: 80px;
        position: relative;
    }
}

.jumbotron{
    background-color: transparent;
    background-image: url('./../src/components/img/header-pic.jpg');
}