 @import '../../../../public/scss/variables';

 #footer-form{

    margin-bottom: 10px;

     .form-container{
        background-color: white;
        border-radius: 50px;
        padding-left: 0;
        max-width: 480px;
     }

    .css-reset{
        margin: 0;
        padding: 0;

        input {
            border: none;
            border-radius: 0;
            box-shadow: none !important;
            height: 33px !important;
        }

        .form-group{
            margin-bottom: 0;            
        }
    }

    .pull-left{
        float: left;
    }

    .newsLetterText{
        color: white;

        p {
            margin: 0;
        }
    }

    button{
        margin-top: 4px;
        width: 70px;
        background-color: $buttonOrange;
        border: none;
        color: white !important;
        font-weight: 700;
    }

    ::placeholder{
        color: $mainBlueColor;
    }

    .bold{
        font-weight: 700;
    }

    #formBasicEmail{
        border-radius: 0;
        border-right: 1px solid lightgray;
    }

    .alert{    
        background-color: $mainBlueColor;
        border: none !important;
        padding: 0;
    }

    .alert-danger{
        color: #ff0500 !important;
    }

    .alert-success{
        color: #dff0d8 !important;
    }
    

}

