#TopNav {
    display: block;

    @media(max-width:991px) {
        .container {
            display: flex;
            flex-direction: column;
        }

        .navbar-collapse.collapse {
            margin: 26px auto;
        }
    }

    @media(max-width:768px) {
        li.navbar-brand.logo.active {
            width: 100%;
            text-align: center;
        }

        button.navbar-toggle {
            float: right;
            right: 0;
            top: 48px;
            background-color: #f2b502;
            border-radius: 50px;
            span {
                background-color: #fff
            }
        }

        .navbar-default .navbar-toggle {
            background-color: #f2b502;
        }
    }

}