
#mainMenuRow {
    position: relative;     
    top: 20px;

    #TopNav {
        display: block;

        a.topNavMenuItems.black {
            font-size: 16px;
        }

        @media(max-width:991px) {
            .container {
                display: flex;
                flex-direction: column;
            }

            .navbar-collapse {
                margin: 26px 0;
            }
        }

        @media(max-width:768px) {
            padding-bottom: 25px;

            li.navbar-brand.logo.active {
                width: 100%;
                text-align: center;
            }

            button.navbar-toggle {
                float: right;
                right: 0;
                top: 0px;
                background-color: #f2b502;
                border-radius: 50px;

                span {
                    background-color: #fff
                }
            }

            .navbar-default .navbar-toggle {
                background-color: #f2b502;
            }

            .navbar-collapse {
                border: none;
                box-shadow: none;
            }

            li.facebook {
                text-align: center;
            }

            ul.nav {
                background: #f5f5f547;
                border-radius: 10px;
                margin-top: 30px;
            }
        }

    }
}

#mainMenuRow.showMsg{
    position: relative;  
    top: 40px;
}

#mainMenuRow{
    .mainMenuRowCol{
        margin-top: 30px;
        @media(max-width:768px) {
            margin-top: 77px
        }
    }
}