#stickyContact{
    position: fixed;
    top: 70vh;
    left: 0;
    background: #204260;
    padding: 10px 13px;
    border-radius: 0px 10px 10px 0px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
   

    #stickyContactCont{
        text-align: center;
        margin-top: 10px;
    }
    cursor: pointer;
    i{
        font-size: 25px;
        color: white !important;
    }
    p{
        color: white;
    }
}

div#stickyContact:hover {
    background: #e08222;
}