


    #toggleLoginForm{
        @media(max-width: 1200px){
        position: fixed;
        min-width: 95vw;
        left: 0px;
        background-color: #fff;
        }
    }

    #loginFormCont{

        @media(min-width: 1200px){
            #openLoginForm{
                margin: 36px 0;
            }       
        }

        @media(max-width: 1200px){
        z-index: 999;
       
        }

        @media(max-width: 768px){
            margin: 0;
        }
     }

     #loginFormCont>div{
        @media(max-width: 768px){
            float: left;
        }
     }

