 @import '../../../../public/scss/variables';

#home-createBib{
    padding-top: 40px;
    background-color: $mainBlueColor;

    .headline{
        margin-right: 50px;
        margin-bottom: 20px;
    }

    .tabControlIcons{
        margin-right:50px;
    }

    #apaPaperForm form{
        padding-top: 10px !important;
    }

    button{
        background-color: $buttonOrange;
    }

    #home-create-item-title{
        margin-top: 50%;
        font-size: 44px;
        @media(max-width: 768px){
            text-align: center;
        }
    }
    img{
        width: 180px;
        height: 180px;
        border-radius: 50%;
       
    }
    

    .rounded{
        border-radius: 50%;
        border: 2px solid #3bd2ff;
        width: 184px;
        height: 184px;
        margin-top: 30px;
        @media(max-width: 768px){
           margin: 0 auto;
        }
    }

    span,div,a,p,i{
        color: white;
    }

    li:hover i,div{
        color: #e08222 !important;
    }

    i.fa-plus{
        color: #e08222 !important;
    }
    
    i.fa-trash-alt{
        color: white !important;
    }

    #writersFeilds strong{
        color: white;
        i{
            margin-left: 10px;
        }

    }

    h2{
        color: white;
    }
}

@media screen and (max-width: 600px) {
      #front-faq button{
        margin-right: 4px;
        font-size: 13px;
      }  
}