#stickyContact {
    position: fixed;
    top: 70vh;
    left: -1px;
    background: #204260;
    padding: 10px 13px;
    border-radius: 0px 10px 10px 0px;
    border-right: 3px solid black;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    width: 125px;
    z-index: 9999;
    #stickyContactCont {
        text-align: center;
        margin-top: 10px;
    }
    cursor: pointer;
    i {
        font-size: 25px;
        color: white !important;
    }
    p {
        color: white;
    }
}

div#stickyContact:hover {
    background: #e08222;
}