.backToBiblist{
    font-size: 15px;
    width: 150px;
    margin-top: 34px !important;
}

.topnav-login-logout-btn{
    font-size: 15px;
    margin-top: 34px !important;
    color: white !important;
}