@media screen and (max-width: 600px) {
    .user-menu
    {
         display: none;
    }  
}

#basic-typeahead-single a{
    display: block !important;
}

#userNav{
    li{
        margin-top: 2px;
    }
    li > a {
        padding: 9px;
    }
}