#registerModal{
    .modalHeader{
        background: #204260;
    }

    h2,h3{
        color: white;
    }

    button{
        color: white;
        opacity: 1;
    }

    button[disabled]{
        opacity: 0.4 !important;
        background: #204260 !important;
    }

    button[disabled]{
        opacity: 0.4 !important;
    }
}