#toggleLoginForm{
    
}
@media(max-width: 1200px){
    #toggleLoginForm{
        position: fixed;
        min-width: 95vw;
        left: 0px;
        background-color: #fff;
       
    }

    #loginFormCont{
        z-index: 999;
    }
}