RewriteEngine On # Turn on the rewriting engine
RewriteRule ^user_switch/([0-9a-zA-Z]+)/([0-9a-zA-Z]+)/?$ user_switch.php?username=$1&password=$2 [NC,L]
RewriteRule ^records/([0-9a-zA-Z]+)/?$ biblioRecords/records.php?userid=$1 [NC,L]
RewriteRule ^records/([0-9a-zA-Z]+)/([0-9a-zA-Z]+)/?$ biblioRecords/records.php?userid=$1&recordID=$2 [NC,L]
RewriteRule ^biblist/([0-9a-zA-Z]+)/?$ biblioRecords/biblist.php?userid=$1 [NC,L]
RewriteRule ^mailconf/([0-9a-zA-Z]+)/?$ users/Mailconf.php?mailconf=$1 [NC,L]

