RewriteEngine On # Turn on the rewriting engine
RewriteRule ^user_switch/?$ user_switch.php [NC,L]
RewriteRule ^user_switch/([0-9a-zA-Z]+)/([0-9a-zA-Z]+)/?$ user_switch.php?username=$1&password=$2 [NC,L]